body {
    margin: 0;
    padding: 10px;
    color: #8c959e;
    background-color: #fbfcfe;
    font-family: 'PT Sans', sans-serif;
}

.green {
    color: #00d994;
}

.purple {
    color: #24235f;
}

.pink {
    color: #ff3467;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    color: #24235f;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    font-size: 12px;
    padding: 0 5px;
    background-color: #36dbb3;
    border-radius: 10px;
    color: #fff;
}

ul.horizontal li {
    display: inline;
    padding: 0 10px;
}

ul.horizontal li a {
    padding: 0 5px;
    text-decoration: none;
}

.shadow-color {
    color: #f0f1f5;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}